* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.cookie-container {
    background: linear-gradient(260deg, #906c50 0%, #4f2626);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    width: 25rem;
    height: 10rem;
    border-radius: 1.2rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.cookie {
    transform: scale(0.8);
}

.text{
    width: 70%;
}

.cookie-title {
    font-size: 1.2rem;
    font-weight: lighter;
}

.cookie-subtitle {
    font-weight: bold;
    font-size: 0.7rem;
    padding: 0.5rem 0rem;
}

button {
    border-style: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: #4f2626;
    font-size: 0.7rem;
    border-radius: 0.3rem;
}
